/* flex to justify and align to center */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.window {
  width: 90%;
  max-width: 35em;
}

/* title bar */
.title-bar-text p {
  margin: 0;
  text-align: center;
  font-style: italic;
}

.title-bar-text span {
  font-weight: bold;
}

/* window typography */
.window-body p {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* buttons */
.maximize {
  padding: 3em;
}

.minimize {
  margin: 0px auto;
}

.btn-yes {
  font-size: 1.25rem;
}

.btn-no {
  font-size: 1.25rem;
}
